body { font-family: Arial; font-size: 14px; margin: 24px; }
body, button, input { font-family: "Inter", sans-serif; }

.btn { border: 1px solid #D5D7DA; background: white; border-radius: 8px; font-weight: 600; height: 40px; display: inline-flex; padding: 0 20px; justify-content: center; align-items: center; cursor: pointer; font-size: 14px; text-decoration: none; color: inherit; }
    .btn:hover { opacity: .8; }
    .btn:active { opacity: .6; }

#main { width: 220px; }
x-gear-h { display: flex; align-items: center; margin-bottom: 20px; }
    x-gear-h > x-h { display: block; font-size: 18px; font-weight: bold; margin: 0 0 0 20px; color: #181D27; }
label { cursor: pointer; display: inline-block; }
    label:hover, input:hover + label { color: #88e; }
.chk-w { color: #414651; }
#show-img-w { margin-bottom: 20px; }
.item { margin-bottom: 10px; }
    .item.disabled label { color: grey; }
input, label { vertical-align: middle; }
a { cursor: pointer; text-decoration: underline; }

#about-w { margin-top: 20px; }
#about { color: #4300DA; }

#btns { display: flex; flex-direction: column; margin-top: 20px; }
#options { background: #4300DA; color: white; border: none; }
#close { margin-top: 10px; }

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
