//if bg is none, it takes bg of body - https://stackoverflow.com/a/32824309/428724
html:not(.wizmage-show-html) { opacity: 0 !important; background: white !important; }

//it's not nice to have the pattern everywhere
html.wizmage-running > body { background-image: none !important; }

.wizmage-hide { opacity: 0 !important; }

//for no-pattern
.wizmage-no-bg { background-image: none !important; }

//for pattern
.wizmage-pattern-bg-img { background-repeat: repeat !important; text-indent: 0 !important; }

@for $i from 0 through 7 {
    .wizmage-pattern-bg-img.wizmage-shade-#{$i} { background-image: url(chrome-extension://__MSG_@@extension_id__/pattern#{$i}.png) !important; }
    //for no eye
    .wizmage-pattern-bg-img.wizmage-light.wizmage-shade-#{$i} { background-image: url(chrome-extension://__MSG_@@extension_id__/pattern-light#{$i}.png) !important; }
}
